body {
    padding-left: 50px;
}
td, th {
    padding-right: 20px;
}
td,p, th .correct {
    color: #4CAF50;
    font-weight: bold;
}
.incorrect {
    color: #E64A19;
    font-weight: bold;
}
.used {
    color: #9E9E9E;
}
.score {
    color: #2196F3;
    font-weight: normal;
}
.tbl-data {
    text-align: right;
}
.tbl-data-left {
    text-align: left;
}
div.end-display-row {
    padding: 20px;
}