body {
    font-family: "FuturaExtended";
    padding-left: 50px;
}
.tbl-data {
    padding-right: 20px;
}
#pregame {
	text-align: center;
}
.title-head {
	font-family: "Afta Serif";
	font-size: 90pt;
}
#ingame {
	text-align: center;
}
#suggestion-box {
    font-family: "Afta Serif";
}
.suggestion {
    font-size: 20pt;
}
button.heading {
    font-family: "FuturaExtended";
    font-size: 32pt;
    padding: 20px;
}
.light-heading {
    font-family: "Futura (Light)";
    font-size: 32pt;
    padding: 20px;
}
.accent, .correct {
    color: #50e908;
}
#word-input {
    font-family: "FuturaExtended";
    font-size: 48pt;
    padding: 12px;
	text-transform: uppercase;
	text-transform: full-width;
}
.dynamic {
    font-size: 20pt;
}
.correct {
    font-weight: bold;
}
.incorrect {
    color: #FF5722;
    font-weight: bold;
}
.used {
    color: #9E9E9E;
}
.score {
    color: #2196F3;
    font-weight: normal;
}
.tbl-data {
    text-align: right;
}
.tbl-data-left {
    text-align: left;
}
div.end-display-row {
    padding: 20px;
}
.incorrect-row {
	text-align: center;
}
.big {
	font-size: 20pt;
}
#postgame {
	text-align: center;
}
.adjacent {
	margin-left: 0;
}
h1.head {
	font-size: 32pt;
}
.post-table {
	margin: 0px auto;
}
