<!DOCTYPE html>
<html>
    <head>
        <title>Word Rush</title>

        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css" media="all" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/style.css">

        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-aria/angular-aria.js"></script>
        <script src="node_modules/angular-material/angular-material.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="components/wordrush.fac.js"></script>
        <script src="components/wordrush.ctr.js"></script>
    </head>
    <body ng-app="wordrush" ng-controller="wordrushCtrl">
        <div id="pregame" ng-show="!gameOn && virgin">
            <h1 class="title-head">Word Rush</h1>
            <md-button class="md-primary heading" ng-click="startGame()">Start Game</md-button><br>
            <md-button class="heading" ng-click="showInstructions = !showInstructions">How To Play</md-button>
			<div id="instructions" ng-show="showInstructions">
				<p>The FitnessGram Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly, but gets faster each minute after you hear this signal. [beep] A single lap should be completed each time you hear this sound. [ding] Remember to run in a straight line and run as long possible. The second time you fail to complete a lap before the sound. Your test will begin on the word start. On your mark, get ready, start!</p>
			</div>
        </div>
        <div id="interface" ng-show="gameOn && !virgin">
            <md-content class="md-padding">
                <h3 id="timer-display">{{ timerDisplay }}s left</h3>
                <h1>{{ condition.name }}</h1>

                <input
                    type="text"
                    id="word-input"
                    placeholder="Word"
                    ng-model="applicant"
                    maxlength="30"
                    ng-keyup="submitWord(applicant)"
                    md-autofocus
                />

                <md-button class="md-warn heading" ng-click="endGame()">End Game</md-button>

                <div class="in-game-word-display">
                    <h2 class="in-game-word-display-title">Submitted Words</h2>
                </div>
            </md-content>
        </div>
        <div id="postgame" ng-show="!gameOn && !virgin">
			<div layout="row" id="post-buttons" layout-align="center">
				<div>
					<md-button class="heading accent" ng-click="startGame()">Play Again</md-button>
				</div>
				<div>
					<md-button class="md-warn adjacents heading" onclick="window.location.reload()">Back to Main Menu</md-button>
				</div>
			</div>
            <div>
             	<div id="general-info">

                    <h1 class="head">Total Score: {{ score }} pts</h1>
                     <div class="table post-table" id="general-table" layout="row" layout-align="center">
                        <div layout="column">
                            <div class="tbl-data">Total Words:</div>
							<div class="tbl-data">Correct Words:</div>
                        </div>
                        <div layout="column">
							<div class="score tbl-data">{{ submittedWords.length }} words</div>
                            <div class="score tbl-data">{{ amtCorrect }} words</div>
                        </div>
                    </div>

					<p class="big">Best Word: <b>{{ bestWord.word }}</b> - <span class="score">{{ bestWord.score }} pts</span></p>
                </div>
                <div id="suggestion-box">
                    <span>Here's another word that {{ condition.name.substring(starter.length).replace('start','starts').replace('contain','contains').replace('end', 'ends') }}: </span>
                    <a class="suggestion" target="_blank" ng-href="{{ suggLink }}">"{{ suggestion }}"</a>
                 </div>
            </div>
            <div class="result-tables" layout="row" layout-align="center">
                <div class="end-display-row" id="correct-words">

					<h1>Correct Words</h1>
                    <div class="word-table post-table" id="correct-table" layout="row">
						<div class="correct-row" layout="column">
						<div class="tbl-data">Word</div>
							<div ng-repeat="data in correctData" id="correct-word-{{ data.id }}" class="tbl-data">
								 <a class="correct" target="_blank" ng-href="{{ data.link }}">{{ data.word }}</a>
							 </div><br>
						</div>
						<div class="correct-table-headings" layout="column">
						<div class="tbl-data">Score</div>
							<div ng-repeat="data in correctData" id="correct-score-{{ data.id }}" class="score tbl-data">{{ data.score }} pts</div>
                        </div>
                    </div>

                </div>
                <div class="end-display-row" id="incorrect-words">

					<h1>Incorrect Words</h1>
                    <div class="word-table post-table" id="incorrect-table" layout="row">
						<div class="incorrect-row" layout="column">
                        <div class="tbl-data-left">Word</div>
                            <div ng-repeat="data in incorrectData"  id="incorrect-word-{{ data.id }}" class="incorrect tbl-data-left">{{ data.word }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
