<!DOCTYPE html>
<html>
    <head>
        <title>Word Rush</title>
        
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css" media="all" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-aria/angular-aria.js"></script>
        <script src="node_modules/angular-material/angular-material.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="components/wordrush.fac.js"></script>
        <script src="components/wordrush.ctr.js"></script>
    </head>
    <body ng-app="wordrush" ng-controller="wordrushCtrl">
        <div id="pregame" ng-show="!gameOn && virgin">
            <h1>Word Rush</h1>
            <md-button class="md-primary" ng-click="startGame()">Start Game</md-button>
        </div>
        <div id="interface" ng-show="gameOn && !virgin">
            <md-content class="md-padding">
                <h3 id="timer-display">{{ timerDisplay }}s left</h3>   
                <h1>Words that {{ condition.name }}</h1>
        
                <input 
                    type="text"  
                    id="word-input" 
                    ng-model="applicant"
                    placeholder="Word" 
                    ng-keydown="submitWord(applicant);"
                />
                <md-button class="md-warn" ng-click="endGame()">End Game</md-button>
                <div class="in-game-word-display">
                    <h2 class="in-game-word-display-title">Submitted Words</h2>
                </div>
            </md-content>
        </div>
        <div id="postgame" ng-show="!gameOn && !virgin">
            <p>Total Words: {{ submittedWords.length }}</p>
            <p>Correct Words: {{ amtCorrect }}</p>
            <md-button class="md-primary" ng-click="startGame()">Play Again</md-button>
            <md-button class="md-warn" ng-click="resetGame()">Back</md-button>
            <div layout="row">
                <div class="end-display-row" id="correct-words">
                    <h1>Correct Words</h1>
                </div>
                <div class="end-display-row" id="incorrect-words">
                    <h1>Incorrect Words</h1>
                </div>
            </div>
        </div>
    </body>
</html>